@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;700&family=Indie+Flower&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  display: flex;
  justify-content: center;
  --1: #c1dbe3ff;
  --2: #c7dfc5ff;
  --3: #f6feaaff;
  --4: #fce694ff;
  --5: #373737ff;
  font-family: "Cormorant SC", serif;
  font-family: "Indie Flower", cursive;
  font-family: "Rubik", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: min(90vw, 1000px);
  background-color: var(--1);
  min-height: 100vh;
  font-size: calc(5px + 1vmin);
}
img {
  object-fit: cover;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#site-header {
  background-image: url(../src/images/chessboard-pattern.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 000;
}
#site-title {
  background-color: var(--1);
  border-radius: 10px;
}

nav {
  background-color: var(--5);
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  display: flex;
  border-bottom: 1px solid rgba(73, 40, 73, 0.222);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: var(--1);
}
button {
  background-color: var(--5);
  color: var(--1);
  font-weight: bold;
  margin: 1%;
  border-radius: 2px;
}

.nav-btn {
  color: blue;
  border-radius: 5px;
  padding: 5px;
}
.reviews-container {
  justify-content: center;
  background-color: var(--2);
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.card {
  background-color: var(--1);
  border-radius: 10px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid var(--5) 2px;
}
.comment-card {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  border: solid grey 1px;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--5);
  border-radius: 10px 10px 0 0;
}
header > * {
  margin: 10px;
}
h1 {
  display: flex;
  align-items: center;
}
img {
  border-radius: 5%;
  width: 100px;
  height: 100px;
}
a {
  margin-right: 10px;
}

.review-avatar {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.clickable {
  display: flex;
  justify-content: right;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: column;
}
.form-container {
  background-color: var(--1);
}
.btn-container {
  display: flex;
  flex-direction: column;
  width: min(50%, 75px);
  height: 100%;
}
.like-btn {
  width: min(300px, 100%);
  align-self: center;
}
